[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
django-rest = "*"
djangorestframework = "*"
django-taggit = "*"
djangorestframework-link-header-pagination = "*"
djangorestframework-simplejwt = "*"
elasticsearch-dsl = "==6.4.0"
django-elasticsearch-dsl = "==6.4.1"
django-redis-cache   = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.7"
